$list-bg-grey:
#535b61,
#45484a,
#8c8c8c,
#e8c39e,
#f5e1c8;



$list-color:
rgb(255, 255, 255),
rgb(238, 22, 22),
rgb(17, 20, 209),
$bg-grey2;

$list-font-size:
1 rem,
1.3 rem,
2 rem;

$list-font-sytle:
italic,
Arial, Helvetica, sans-serif,
Impact, serif;

