$bg-grey: #535b61;
$bg-grey2: #45484a;
$bg-grey3: #65727c;

$color: rgb(255, 255, 255);
$color2: rgb(238, 22, 22);
$color3: rgb(17, 20, 209);
$color-text-title: #c9c7c7; 
$color-grey: #65727c;

$font-size1:1rem;
$font-size13:1.3rem;
$font-size2:2rem;

$font-style1:italic;
$font-style2:normal;
$font-family1: Arial, Helvetica, sans-serif;
$font-family2: Impact, serif;
$font-family3: Water Brush, cursive;

